# Lab | Model generation, and validation 

For this lab, we still keep using the `marketing_customer_analysis.csv` file that you can find in the `files_for_lab` folder.

### Get the data

We are using the `marketing_customer_analysis.csv` file.

### Linear regression

- Select the columns which are correlated with `total_claim_amount` and don't suffer from multicollinearity (see the previous lab)
- Remove outliers
- X-y split. (define which column you want to predict, and which ones you will use to make the prediction)
- Use the [Train-test split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html#sklearn.model_selection.train_test_split) to create the Train, and Test sets (make sure to set the `random_state` option to any integer number of your choice).
- Use the [pd.DataFrame()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) function to create new Pandas DataFrames from the X_train, and X_test Numpy arrays obtained in the previous step (make sure to use the `columns=` option to set the columns names to `X.columns`).
- Split the `X_train` Pandas DataFrame into two: `numerical`, and `categorical` using `df.select_dtypes()`.
- If you need to transform any column, Train your transformers and/or scalers all the `numerical` columns using the `.fit()` **only in the Train** set (only one transformer/scaler for all the columns, check [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PowerTransformer.html#sklearn.preprocessing.PowerTransformer), and [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html#sklearn.preprocessing.MinMaxScaler) using the `.transform()` 
- Save all your transformers/scalers right after the `.fit()` using `pickle` using the code shown below:
  ```Python
  import os
  
  path = "transformers/"
  # Check whether the specified path exists or not
  isExist = os.path.exists(path)
  if not isExist:
      # Create a new directory because it does not exist
      os.makedirs(path)
     print("The new directory is created!")
 
  filename = "filename.pkl" # Use a descriptive name for your scaler/transformer but keep the ".pkl" file extension
  with open(path+filename, "wb") as file:
    pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
  ```
- If you used a transformer/scaler in the previous step, create new Pandas DataFrames from the Numpy arrays generated by the `.transform()` using the `pd.DataFrame()` function as you did earlier with the Numpy arrays generated by the `train_test_split()` function.
- Transform the `categorical` columns into numbers using a:
  - [OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder) for categorical **nominal** columns. (again **only use the `.fit()` in the Train set**, but the .`transform()` in the Train and the Test sets)
  - Remember to save all your transformers/scalers right after the `.fit()` using `pickle` using the code shown below:
    ```Python
    path = "encoders/"
    # Check whether the specified path exists or not
    isExist = os.path.exists(path)
    if not isExist:
      # Create a new directory because it does not exist
      os.makedirs(path)
      print("The new directory is created!")
 
    filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
    with open(path+filename, "wb") as file:
       pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
    ```
  - Use `.replace()` to cast into numbers any categorical **ordinal** column replacing each label with a number that: respects the order of the labels and the relative "distance"
- Concat `numerical_transformer` and `categorical_transfomed` DataFrames using `pd.concat()`.
- Apply another MinMaxScaler to the concatenated DataFrame.
- Remember to save all your MinMaxScaler right after the `.fit()` using `pickle` using the code shown below:
    ```Python
    path = "scalers/"
    # Check whether the specified path exists or not
    isExist = os.path.exists(path)
    if not isExist:
      # Create a new directory because it does not exist
      os.makedirs(path)
      print("The new directory is created!")
 
    filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
    with open(path+filename, "wb") as file:
       pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
    ```
- Apply linear regression to the Pandas DataFrame obtained in the previous step using [sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression)
- Remember to save your linear model right after the `.fit()` using `pickle` using the code shown below:
  ```Python
      path = "models/"
      # Check whether the specified path exists or not
      isExist = os.path.exists(path)
      if not isExist:
        # Create a new directory because it does not exist
        os.makedirs(path)
        print("The new directory is created!")
 
       filename = "filename.pkl" # use a descriptive name for your encoder but keep the ".pkl" file extension
       with open(path+filename, "wb") as file:
          pickle.dump(variable, file) # Replace "variable" with the name of the variable that contains your transformer
    ```

### Model Validation

- Compute the following metrics for your Train and Test sets:
  - [R2](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html#sklearn.metrics.r2_score).
  - [MSE](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn-metrics-mean-squared-error).
  - [RMSE](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn-metrics-mean-squared-error)
  - [MAE](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html#sklearn-metrics-mean-absolute-error).

- Create a Pandas DataFrame to summarize the error metrics for the Train and Test sets.

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import os
import pickle

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [4]:
df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

### Select the columns which are correlated with total_claim_amount and don't suffer from multicollinearity

In [5]:
target_variable = 'total_claim_amount'

# Select numerical columns
numerical_columns = df.select_dtypes(include=[np.number])

In [6]:
# Calculate the correlation matrix
correlation_matrix = numerical_columns.corr()
correlation_matrix

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
unnamed:_0,1.000000,0.001355,0.008910,0.000863,0.007722,0.012795,0.007108,0.002319,-0.000593,0.004755
customer_lifetime_value,0.001355,1.000000,0.028306,0.403069,0.015683,0.016960,-0.031501,0.016024,0.232626,-0.009234
income,0.008910,0.028306,1.000000,-0.009788,-0.023126,-0.005903,0.006956,-0.009960,-0.354141,-0.000443
monthly_premium_auto,0.000863,0.403069,-0.009788,1.000000,0.008504,0.018953,-0.010066,-0.020505,0.631799,0.007253
months_since_last_claim,0.007722,0.015683,-0.023126,0.008504,1.000000,-0.038155,0.002246,0.007425,0.012728,-0.019359
months_since_policy_inception,0.012795,0.016960,-0.005903,0.018953,-0.038155,1.000000,0.004247,-0.009123,0.003095,0.015163
number_of_open_complaints,0.007108,-0.031501,0.006956,-0.010066,0.002246,0.004247,1.000000,0.003964,-0.011025,-0.004671
number_of_policies,0.002319,0.016024,-0.009960,-0.020505,0.007425,-0.009123,0.003964,1.000000,-0.008923,0.005127
total_claim_amount,-0.000593,0.232626,-0.354141,0.631799,0.012728,0.003095,-0.011025,-0.008923,1.000000,0.001425
month,0.004755,-0.009234,-0.000443,0.007253,-0.019359,0.015163,-0.004671,0.005127,0.001425,1.000000

In [7]:
# Select Highly Correlated Features
correlation_with_target = correlation_matrix[target_variable].sort_values(ascending=False)
correlation_threshold = 0.2
selected_features = correlation_with_target[abs(correlation_with_target) > correlation_threshold].index.tolist()
selected_features

['total_claim_amount',
 'monthly_premium_auto',
 'customer_lifetime_value',
 'income']

In [8]:
# Check for Multicollinearity
vif_data = pd.DataFrame()
vif_data["feature"] = numerical_columns[selected_features].columns
vif_data["VIF"] = [variance_inflation_factor(numerical_columns[selected_features].values, i) for i in range(len(selected_features))]

# Filter features with VIF less than a certain threshold (e.g., 5)
selected_features_no_multicollinearity = vif_data[vif_data['VIF'] < 5]['feature'].tolist()
print("Selected Features without Multicollinearity: ", selected_features_no_multicollinearity)

Selected Features without Multicollinearity:  ['customer_lifetime_value', 'income']

### Remove outliers

In [9]:
# Columns to remove outliers from
columns_to_remove_outliers = ['customer_lifetime_value', 'income', 'total_claim_amount', 'monthly_premium_auto']

# Function to remove outliers based on IQR
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]

# Remove outliers from specified columns
for column in columns_to_remove_outliers:
    data = remove_outliers_iqr(numerical_columns, column)

#reset the index
data.reset_index(drop=True, inplace=True)

### X-y split

### Use the Train-test split to create the Train, and Test sets (make sure to set the random_state option to any integer number of your choice).

In [10]:
# Specify the column to predict
y = df['total_claim_amount']

# Specify the columns to use for prediction (excluding the target column)
X = df
X = X.drop(['monthly_premium_auto', 'total_claim_amount', 'unnamed:_0'], axis=1)

#  Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Check the shapes of the resulting sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (8728, 24)
X_test shape: (2182, 24)
y_train shape: (8728,)
y_test shape: (2182,)

### Use the pd.DataFrame() function to create new Pandas DataFrames from the X_train, and X_test Numpy arrays obtained in the previous step (make sure to use the columns= option to set the columns names to X.columns).

In [12]:
# Create Pandas DataFrames from X_train and X_test
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_test_df = pd.DataFrame(X_test, columns=X.columns)

# Check the structure of the new DataFrames
print("X_train_df:")
display(X_train_df.head())

print("\nX_test_df:")
display(X_test_df.head())

X_train_df:

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type,month
3105,XK11432,Arizona,4665.129599,No,Basic,Bachelor,2011-02-02,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L2,Offer1,Branch,Two-Door Car,Small,A,2
6032,HJ89045,California,10288.924950,No,Extended,Bachelor,2011-01-15,Employed,F,96337,...,0.0,3,Personal Auto,Personal L2,Offer3,Branch,SUV,Medsize,A,1
157,DB26077,Arizona,4873.436612,No,Extended,High School or Below,2011-01-05,Retired,F,18866,...,0.0,1,Personal Auto,Personal L2,Offer3,Call Center,SUV,Medsize,A,1
6964,YW43854,Washington,6944.739992,No,Basic,High School or Below,2011-01-03,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L1,Offer1,Branch,Four-Door Car,Medsize,A,1
6349,DV24592,Oregon,2472.469209,Yes,Basic,College,2011-01-20,Employed,F,63860,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,Four-Door Car,Medsize,A,1

X_test_df:

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type,month
4829,LY90785,Oregon,5793.157728,No,Basic,Bachelor,2011-02-06,Employed,M,95733,...,0.000000,3,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Small,A,2
5081,IE40701,California,2877.354255,No,Basic,High School or Below,2011-01-30,Employed,M,32807,...,0.384256,1,Personal Auto,Personal L2,Offer2,Call Center,Four-Door Car,Small,A,1
5011,ZB62469,California,2161.685527,No,Basic,High School or Below,2011-02-21,Unemployed,M,0,...,2.000000,1,Corporate Auto,Corporate L3,Offer2,Call Center,Two-Door Car,Medsize,A,2
4625,MY64920,Oregon,9217.130629,No,Basic,College,2011-02-27,Employed,F,73259,...,0.000000,4,Personal Auto,Personal L2,Offer4,Web,SUV,Medsize,A,2
3838,HV75704,California,22762.214790,No,Basic,Bachelor,2011-02-26,Employed,F,70521,...,0.000000,2,Corporate Auto,Corporate L3,Offer1,Agent,Four-Door Car,Small,A,2

### Split the X_train Pandas DataFrame into two: numerical, and categorical using df.select_dtypes().

In [13]:
# Select numerical columns
numerical_train = X_train_df.select_dtypes(include=['float64', 'int64'])
# Select categorical columns
categorical_train = X_train_df.select_dtypes(include=['object'])

In [29]:
categorical_train.drop('customer', axis = 1)

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,vehicle_type
3105,Arizona,No,Basic,Bachelor,2011-02-02,Unemployed,M,Suburban,Married,Personal Auto,Personal L2,Offer1,Branch,Two-Door Car,Small,A
6032,California,No,Extended,Bachelor,2011-01-15,Employed,F,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,SUV,Medsize,A
157,Arizona,No,Extended,High School or Below,2011-01-05,Retired,F,Suburban,Married,Personal Auto,Personal L2,Offer3,Call Center,SUV,Medsize,A
6964,Washington,No,Basic,High School or Below,2011-01-03,Unemployed,M,Suburban,Single,Personal Auto,Personal L1,Offer1,Branch,Four-Door Car,Medsize,A
6349,Oregon,Yes,Basic,College,2011-01-20,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Agent,Four-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,Oregon,No,Premium,High School or Below,2011-02-13,Unemployed,M,Suburban,Single,Personal Auto,Personal L2,Offer2,Branch,Four-Door Car,Medsize,A
5191,Oregon,No,Extended,High School or Below,2011-01-05,Employed,M,Suburban,Single,Personal Auto,Personal L3,Offer3,Branch,Two-Door Car,Medsize,A
5390,California,No,Basic,College,2011-02-15,Unemployed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer4,Web,Four-Door Car,Medsize,A
860,California,No,Basic,High School or Below,2011-02-03,Unemployed,F,Suburban,Single,Personal Auto,Personal L1,Offer1,Call Center,Four-Door Car,Medsize,A
7270,California,No,Basic,High School or Below,2011-02-12,Unemployed,M,Suburban,Married,Special Auto,Special L2,Offer2,Agent,SUV,Medsize,A

In [22]:
# Select numerical columns
numerical_test = X_test_df.select_dtypes(include=['float64', 'int64'])
# Select categorical columns
categorical_test = X_test_df.select_dtypes(include=['object'])

In [36]:
categorical_test = categorical_test.drop('customer', axis = 1)

In [17]:
numerical_train

,customer_lifetime_value,income,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
3105,4665.129599,0,26.0,62,0.0,3,2
6032,10288.924950,96337,19.0,12,0.0,3,1
157,4873.436612,18866,4.0,62,0.0,1,1
6964,6944.739992,0,24.0,31,0.0,2,1
6349,2472.469209,63860,26.0,81,0.0,1,1
...,...,...,...,...,...,...,...
5734,3810.238281,0,7.0,57,0.0,1,2
5191,3815.851163,38651,12.0,83,0.0,1,1
5390,7850.590399,0,5.0,78,0.0,2,2
860,4974.235309,0,18.0,74,0.0,3,2
7270,38055.209530,0,21.0,78,0.0,2,2

### If you need to transform any column, Train your transformers and/or scalers all the numerical columns using the .fit() only in the Train set (only one transformer/scaler for all the columns, check here, and here using the .transform()

In [15]:
numerical_train.describe()

,customer_lifetime_value,income,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
count,8728.000000,8728.000000,8728.000000,8728.000000,8728.000000,8728.000000,8728.000000
mean,8025.739678,37593.503093,15.107878,48.059808,0.380213,2.970784,1.463795
std,6973.335781,30343.602668,9.735679,27.969144,0.873851,2.387027,0.498716
min,1898.007675,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,4016.439689,0.000000,7.000000,24.000000,0.000000,1.000000,1.000000
50%,5764.823237,33889.500000,15.000000,48.000000,0.000000,2.000000,1.000000
75%,8956.200142,62198.750000,23.000000,71.000000,0.384256,4.000000,2.000000
max,83325.381190,99981.000000,35.000000,99.000000,5.000000,9.000000,2.000000

In [37]:
categorical_train = categorical_train.drop('customer', axis=1)

In [39]:
# OneHotEncoder for categorical nominal columns
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')  # Drop first to avoid the dummy variable trap
X_train_categorical_encoded = one_hot_encoder.fit_transform(categorical_train)
X_test_categorical_encoded = one_hot_encoder.transform(categorical_test)

# Save OneHotEncoder
filename = "one_hot_encoder.pkl"
with open(filename, "wb") as file:
    pickle.dump(one_hot_encoder, file)

C:\Users\vikto\anaconda3\envs\base_new\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [41]:
# Apply linear regression
linear_reg_model = LinearRegression()
linear_reg_model.fit(numerical_train, y_train)

# Save Linear Regression Model
filename = "linear_regression_model.pkl"
with open(filename, "wb") as file:
    pickle.dump(linear_reg_model, file)

# Model Validation
def evaluate_model(model, X, y, set_name):
    y_pred = model.predict(X)
    r2 = r2_score(y, y_pred)
    mse = mean_squared_error(y, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y, y_pred)

    print(f"\nMetrics for {set_name} set:")
    print(f"R2: {r2:.4f}")
    print(f"MSE: {mse:.4f}")
    print(f"RMSE: {rmse:.4f}")
    print(f"MAE: {mae:.4f}")

    return r2, mse, rmse, mae

# Evaluate on the training set
train_metrics = evaluate_model(linear_reg_model, numerical_train, y_train, "Train")

# Evaluate on the test set
test_metrics = evaluate_model(linear_reg_model, numerical_test, y_test, "Test")

# Create a summary DataFrame for the error metrics
summary_df = pd.DataFrame({
    'Metric': ['R2', 'MSE', 'RMSE', 'MAE'],
    'Train': train_metrics,
    'Test': test_metrics
})

print("\nSummary DataFrame:")
print(summary_df)

Metrics for Train set:
R2: 0.1864
MSE: 70386.1329
RMSE: 265.3039
MAE: 188.7165

Metrics for Test set:
R2: 0.1765
MSE: 66492.0390
RMSE: 257.8605
MAE: 189.4084

Summary DataFrame:
  Metric         Train          Test
0     R2      0.186439      0.176498
1    MSE  70386.132869  66492.038982
2   RMSE    265.303850    257.860503
3    MAE    188.716541    189.408420